{% extends "auctions/layout.html" %}

{% block body %}
    <h2 style="margin-left: 10px;">Active Listings</h2>
    {% for listing in listings %}
    <div class="listing">
        <a href="{% url 'listing_view' listing.title %}">
            <h4 style="text-align: left; padding-top: 10px; margin-left: 30px;"> {{ listing.title }} </h4> 
        </a>
        <a href="category_view/{{category}}" style="color:crimson;">
            <h7 style="float: right; text-align: right; margin-right: 20px; margin-top: -30px;">Category: {{listing.category}}</h7>
        </a>
        <hr style="clear:both; margin-top: -30px;"/>
        <img src="{{ listing.image.url }}">
        <h6 style="padding-top: -30px; margin-left: 300px;">Description:</h4>
            <p style="margin-left: 300px;">{{listing.description}}</p>
             <br>
        <h6 style="padding-top: 5px; margin-left: 300px;">Starting Bid:</h4>
             <p style="margin-left: 300px;">${{listing.price}}</p> <br><br>
             <p style="text-align: right; float: right; font-weight: lighter; margin-right: 30px; margin-top: -25px;">{{listing.creation_date}} UTC</p>
    </div>
    {% endfor %}
{% endblock %}
