{% extends "auctions/layout.html" %}

{% block body %}

<h2 style="margin-left: 10px; padding-bottom: 10px;">{{listing.title}} </h2> 
<h1>{{highest}}</h1>
{% if user.is_authenticated %}
  {% if owner == False %}
    {% if exists %}
        <a href="{% url 'remove_wish_list' listing.title %}" style="float: right; text-align: right; margin-right: 200px; margin-top: -55px;"><button class="btn btn-danger">Remove from wishlist</button></a>
    {% else %}
        <a href="{% url 'add_wish_list' listing.title %}" style="float: right; text-align: right; margin-right: 240px; margin-top: -55px;"><button class="btn btn-success">Add to wishlist</button></a>
    {% endif %}
  {% endif %}
{% endif %}
<div class="listing_view">
    <a href="categories/{{listing.category}}" style="color:crimson;">
        <h7 style="float: right; text-align: right; margin-right: 20px; margin-top: -30px;">Category: {{listing.category}}</h7>
    </a> <br>
    <img src="{{ listing.imageURL }}">
    <h6 style="padding-top: -30px; margin-left: 300px;">Description:</h6>
        <p style="margin-left: 300px;">{{listing.description}}</p>
         <br>
    <h6 style="padding-top: 5px; margin-left: 300px;">Current Price:</h6>
         <p style="margin-left: 300px;">${{listing.price}}</p> <br><br>
         <p style="text-align: right; float: right; font-weight: lighter; margin-right: 30px; margin-top: -25px;">{{listing.creation_date}} UTC</p>
</div> <br>

{% if user.is_authenticated %}
  {% if owner == False %}
<div class="container" style="float: left; margin-top: -70px;">
    <h4>Place your bid:</h4>
    <form action="{% url 'place_bid' listing.title %}" method="POST">
        {% csrf_token %}
          <div class="form-row align-items-center">
            <div class="col-auto">
              <input type="number" class="form-control mb-2" id="inlineFormInput" name="bid" placeholder="your bid..." min={{min_value}}>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </div>
          </div>
    </form>
  {% endif %}
    {% if owner %}
    <div class="col-auto">
        <form action="{% url 'end_listing' listing.title %}" method="POST">
          {% csrf_token %}
        <button type="submit" class="btn btn-danger" style="margin-left: 280px; margin-top: -82px">End Listing</button>
        </form>
      </div>
    {% endif %}
</div> 
{% endif %}

<br>
<h6 style="margin-left: 10px; margin-right: 200px;">Bid History:</h6>
{% for bid in bids %} 
<p style="margin-left: 10px; font-size: small;"> <strong>{{bid.name}}</strong> Placed a bid for <strong>${{ bid.bid }}</strong> on {{bid.creation_date}}</p>
{% endfor %}
<hr> 
<h5 style="margin-left: 10px; padding-bottom: 10px; font-weight: normal;">Comments...<a href="{% url 'create_comment' listing.title %}" style="font-size: small; padding-left: 10px;">Add One Here</a></h5>
{% if not listing.comments.all %}
<div style="margin-left: 10px; padding-bottom: 10px;">
       <em> No Comments Yet... </em> 
{% else %}
    {% for comment in listing.comments.all %}
       <strong style="margin-left: 10px; padding-bottom: 10px; font-size: small;">
           {{ comment.name }} - 
           {{ comment.creation_date }}
       </strong> 
       <br>
       <p style="margin-left: 10px; padding-bottom: 10px; font-size: small;">{{ comment.body }}</p>
    {% endfor %}
{% endif %}


{% endblock %}